exp*
lib*
tmp*
log
evaluator*
backup
pretrained_models
*.sbatch
*.bak
*.ipynb
.ipynb_checkpoints
.vscode
*/*/*/*/__pycache__
*/*/*/__pycache__
*/*/__pycache__
*/__pycache__
*/*/*/*.pyc
*/*/*.pyc
*/*.pyc
module-classes.txt
